<div class="row">
  <div class="col-md-12" *ngIf="templates.length > 0">
      <h4>Mail Template List:</h4>
      <div class="row">
          <div class="col-sm-12">
              <label class="dt-cust-search f-right">
                  <div class="form-group">
                      <label>Search by Advertiser:</label>
                      <input type='text' class="form-control input-sm m-l-10" placeholder='' (keyup)='updateFilter($event)' />
                  </div>
              </label>
          </div>
      </div>
      <ngx-datatable 
          class='data-table' style="cursor: pointer;" [columns]="headers" [columnMode]="'force'"
          [headerHeight]="40" [footerHeight]="40" [rowHeight]="50" [limit]="5" [rows]='templates' [scrollbarH]='true'
          [selectionType]="'single'" [loadingIndicator]="loadingIndicator" >
          <ngx-datatable-column *ngFor="let col of headers" [name]="col.name" [prop]="col.prop"></ngx-datatable-column>
      </ngx-datatable>
  </div>
</div>